{{#if_eq token 'admin'}}
           <h1>{{title}}</h1>

    {{#entries}}

        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">
                    {{contents}}
                </p>
                <div class="card-footer">
                    Donate by {{username}}, expires: {{formatTime exdate "DD-MM-YYYY"}} additional information: {{additional}} 
                    <br>
                    <form action="/alldonations" method="post">
                        <input type="hidden" name="_id" id="_id" value="{{_id}}">
                        <button type="submit">delete</button>
                    </form>
                </div>
            </div>
        </div>
    {{/entries}}
{{else}}

    {{#entries}}
        {{title}}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">
                {{contents}}
            </p>
            <div class="card-footer">
                Donate by {{username}}, expires: {{formatTime exdate "DD-MM-YYYY"}} additional information: {{additional}} 
                <br>
                <a href="/claim/{{_id}}">claim</a>
                <br>
            </div>
        </div>
    </div>
        {{/entries}}

{{/if_eq}}
